---
import Home from '@Layouts/Home.astro'
---

<Home title="Search Not Found">
  <div class="flex items-center justify-center flex-col gap-20 my-10">
    <h1 class="text-5xl">Sorry Data Not Found</h1>
    <img src="/media/not-found-illust.png" class="w-[32rem]" />
  </div>
</Home>
