---
import Home from '@Layouts/Home.astro'
import Latest from '@Elements/blog/Latest.tsx'
import All from '@Elements/blog/All.tsx'
import CategoryBar from '@Elements/CategoryBar.tsx'
import cntl from 'cntl'
---

<Home title="All Blogs" forceWhite class="mt-0 sm:mt-0 gap-5">
  <div class="bg-black mt-header-sm md:mt-header -mb-10" slot="pre-main">
    <CategoryBar className="mx-16" client:load />
  </div>
  <Latest />
  <All />
</Home>
