---
import Home from '@Layouts/Home.astro'
import Heading from '@Elements/blog/Heading.tsx'
import Article from '@Elements/blog/Article.astro'
import Banner from '@Elements/blog/Banner.tsx'
import Recommendation from '@Elements/blog/Recommendation.tsx'
import Section from '@Blocks/Section.tsx'
import Ads from '@Blocks/Ads.tsx'
---

<Home title="Detail Blog" forceWhite>
  <Section.Container>
    <Section.Content className="flex flex-col lg:flex-row gap-16">
      <div class="flex flex-col gap-10 flex-grow">
        <Heading client:load />
        <Article />
        <Banner />
      </div>
      <aside class="flex flex-col gap-16">
        <!-- <Ads
          width={300}
          height={600}
          src="/media/sidebar-ad-placeholder.png"
          id="sidebar-ads"
          className="items-start h-max w-max flex-shrink-0"
        /> -->
        <Recommendation />
      </aside>
    </Section.Content>
  </Section.Container>
</Home>
