---
import Home from '@Layouts/Home.astro'
import Notice from '@Elements/Notice.tsx'
---

<Home title="Detail Blog" class="mt-0 lg:mt-0">
  <div
    class="container px-12 mx-auto flex justify-center items-center min-h-screen"
  >
    <Notice
      img="/media/sparks/sad.png"
      title="Sorry!"
      subtitle="There is no article yet."
      subsubtitle="Maybe try another category?"
    />
  </div>
</Home>

<style lang="styl" global>
  @import './white.styl';
</style>
