---
import Home from '@Layouts/Home.astro'
import Sidebar from '@Elements/blog/Sidebar.tsx'
import List from '@Elements/blog/List.tsx'
import Pagination from '@Elements/Pagination.tsx'
import Section from '@Blocks/Section.tsx'
import cntl from 'cntl'
---

<Home title="Detail Blog" forceWhite>
  <div class="container px-12 mx-auto flex flex-row gap-16">
    <main id="blog-list" class="flex flex-col gap-10">
      <Section.Title className="border-b-2 pb-5 w-full lg:text-4xl"
        >Business</Section.Title
      >
      <List />
      <Pagination
        className="self-center"
        styleOverrides={{
          button: {
            style: cntl`border-slate-600`,
          },
        }}
      />
    </main>
    <Sidebar />
  </div>
</Home>
