---
import Home from '@Layouts/Home.astro'
// import Sidebar from '@Elements/blog/Sidebar.tsx'
import List from '@Elements/blog/List.tsx'
import Pagination from '@Elements/Pagination.tsx'
import Section from '@Blocks/Section.tsx'
import Recommendation from '@Elements/blog/Recommendation.tsx'
import cntl from 'cntl'
---

<Home title="Detail Blog" forceWhite>
  <Section.Container>
    <Section.Content className="flex flex-col lg:flex-row gap-16">
      <div class="flex flex-col gap-10">
        <Section.Title className="border-b-2 pb-5 w-full text-3xl lg:text-4xl"
          >Business</Section.Title
        >
        <List />
        <Pagination
          className="self-center"
          styleOverrides={{
            button: {
              style: cntl`border-slate-600`,
            },
          }}
        />
      </div>

      <aside class="flex flex-col gap-16">
        <!-- <Ads
          width={300}
          height={600}
          src="/media/sidebar-ad-placeholder.png"
          id="sidebar-ads"
          className="items-start h-max w-max flex-shrink-0"
        /> -->
        <Recommendation title="Recommended Articles" />
      </aside>
    </Section.Content>
  </Section.Container>
</Home>
