@css {
  body {
    @apply !bg-white !text-black;
  }
}

#footer {
  @apply text-white bg-black;

  .footer-links {
    a {
      @apply text-white;
    }

    h4 {
      @apply text-zinc-500;
    }
  }
}

#footer-links {
  @apply border-b-zinc-900;
}

#social-media {
  a {
    @apply fill-zinc-500;
  }
}
