---
import Home from '@Layouts/Home.astro'
import Overview from '@Elements/class/Overview.tsx'
import Navigation from '@Elements/class/Navigation.tsx'
import Detail from '@Elements/class/Detail.tsx'
import Instructor from '@Elements/class/Instructor.tsx'
import Review from '@Elements/class/Review.tsx'
import Suggestion from '@Elements/class/Suggestion.tsx'
import GetCourse from '@Elements/class/GetCourse.tsx'
---

<Home title="Class Detail" class="lg:gap-12 pt-0 md:pt-0 lg:pt-5">
  <GetCourse client:load />
  <Overview client:load />
  <div class="flex flex-col gap-12">
    <Navigation
      watchTargets={[
        ['Details', '#the-detail-title'],
        ['Instructor', '#the-instructor-title'],
        ['Review', '#the-review-title'],
      ]}
      client:load
    />
    <Detail client:load />
    <Instructor client:load />
    <Review client:load />
  </div>
  <Suggestion client:load />
</Home>

<style global>
  html {
    scroll-padding-top: calc(
      theme('spacing.header') + theme('spacing.16')
    ) !important;
  }
</style>
