.material-icons-outlined,
.material-icons {
  font-size: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.ball-pulse {
  @apply inline-flex;
}

.ball-pulse > div {
  @apply w-2 h-2;
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-black text-white font-body flex flex-col gap-12;
}

.vjs-control-text {
  display: none;
}

*:not(select) {
  scrollbar-color: theme('colors.yellow.600') theme('colors.zinc.900');
  scrollbar-width: 6px;
}
/* Chrome and derivatives*/
::-webkit-scrollbar {
  @apply max-w-[6px] max-h-[6px] bg-yellow-600 transition-colors;
  /* max-width: var(--webkit-scrollbar-width-height) !important;
  max-height: var(--webkit-scrollbar-width-height) !important;
  background: var(--custom-track-color) !important; */
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  @apply bg-zinc-900 transition-colors;
  /* background: var(--custom-track-color) !important; */
}
::-webkit-scrollbar-thumb {
  @apply rounded-none bg-yellow-600 transition-colors;
  /* background: var(--custom-thumb-color) !important;
  border-radius: var(--webkit-scrollbar-border-radius) !important; */
}
::-webkit-scrollbar-corner:hover,
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track-piece:hover {
  @apply bg-zinc-800;
  /* background: var(--custom-track-color-hover) !important; */
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-yellow-600;
  /* background: var(--custom-thumb-color-hover) !important; */
}

kbd {
  @apply bg-white/5 text-black font-black px-1 py-0.5 tracking-wide border-2 border-white/10 rounded-md shadow-sm;
}
