.slick {
  &-prev,
  &-next {
    @apply bg-zinc-900/90 z-10 rounded-full w-12 h-12;
    @apply absolute transform -translate-y-1/2;
    @apply backdrop-filter backdrop-blur-sm

    line-height: 0;
    font-size: 0;

    &:hover {
      @apply bg-zinc-900/90;
    }

    &::before {
      @apply text-xl;
    }
  }

  &-prev {
    @apply transform -translate-x-1/2;
    left: 0;
    top: 50%;

    &::before {
      content: 'navigate_before';
      font-family: 'Material Icons Outlined';
    }
  }

  &-next {
    @apply transform translate-x-1/2;
    right: 0;
    top: 50%;

    &::before {
      content: 'navigate_next';
      font-family: 'Material Icons Outlined';
    }
  }
}

@css {
  .slick-list {
    @apply !overflow-visible sm:!overflow-hidden;
  }

  .always-visible .slick-list {
    @apply !overflow-visible;
  }

  .always-visible .slick-slider {
    position: initial;
  }

  .slick-prev,
  .slick-next {
    @apply !hidden sm:!block;
  }
}
