---
import Home from '@Layouts/Home.astro'
import Hero from '@Elements/business/Hero.tsx'
import DocumentView from '@Elements/DocumentView.tsx'
import TOC from '@Elements/business/TOC.md'
import { Common as Button } from '@Bits/Button'
---

<Home title="TOS Business" class="pt-0 lg:pt-5">
  <Hero />
  <DocumentView client:load>
    <TOC />
    <div class="w-full flex justify-center mt-10 not-prose">
      <Button
        as="a"
        className="flex items-center gap-2 font-bold"
        href="/business/register"
      >
        Register
        <span class="material-icons-outlined"> arrow_forward </span>
      </Button>
    </div>
  </DocumentView>
</Home>
