---
import Base from '@Layouts/Base.astro'
import cntl from 'cntl'
import { map } from 'lodash-es'
const NAVIGATION = {
  Common: {
    Login: '/portal/login',
  },
  Backoffice: {
    Index: '/portal/',
  },
  Landing: {
    Public: '/dev/landing/public',
    Student: '/dev/landing/student',
    Instructor: '/dev/landing/instructor',
  },
  Search: {
    Search: '/dev/search',
    'Not Found': '/dev/search/not-found',
  },
  'Become an Instructor': {
    TOC: '/dev/instructor',
    // Register: '/dev/instructor/register',
  },
  'Business': {
    TOC: '/dev/business',
    // Register: '/dev/instructor/register',
  },
}
---

<Base title="Development Navigation" bodyClass={cntl`dark:bg-white dark:text-black font-mono`}>
  <div class="flex flex-col items-stretch p-10">
    {map(NAVIGATION, (v, i) => (
      <div class="flex flex-col items-stretch">
        <h1 class="text-4xl font-bold py-5 font-mono">{i}</h1>
        <ul>
          {map(v, (w, j) => (
            <li>
              <a
                href={w}
                class="text-xl text-blue-500 hover:text-red-500 font-mono"
                target="_blank"
                // @ts-ignore
                set:html={`${j} --> ${w}`}
              ></a>
            </li>
          ))}
        </ul>
      </div>
    ))}
  </div>
</Base>
