---
import Home from '@Layouts/Home.astro'
import Overview from '@Elements/class/Overview.tsx'
import Navigation from '@Elements/class/Navigation.tsx'
import Detail from '@Elements/class/Detail.tsx'
import Instructor from '@Elements/class/Instructor.tsx'
import Review from '@Elements/class/Review.tsx'
import Suggestion from '@Elements/class/Suggestion.tsx'
---

<Home title="Class Detail" class="lg:gap-12">
  <Overview />
  <div class="flex flex-col gap-12">
    <Navigation
      watchTargets={[
        ['Details', '#the-detail'],
        ['Instructor', '#the-instructor'],
        ['Review', '#the-review'],
      ]}
      client:load
    />
    <Detail client:load />
    <Instructor client:load />
    <Review client:load />
  </div>
  <Suggestion client:load />
</Home>
