---
import DateDialog from '@Elements/class/Filter/Date.tsx'
import Pricing from '@Elements/class/Filter/Pricing.tsx'
import Popular from '@Elements/class/Filter/Popular.tsx'
import Rating from '@Elements/class/Filter/Rating.tsx'
import Base from '@Layouts/Base.astro'
---

<Base>
  <div class="flex flex-row gap-3">
    <DateDialog client:load />
    <Pricing client:load />
    <Popular client:load />
    <Rating defaultOpen client:load />
  </div>
</Base>

<style global>
  body {
    @apply flex items-center justify-center h-screen;
  }
</style>
