@keyframes slideup {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes slidedown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}
