---
import Section from '../blocks/Section.tsx'
import Carousel from './Trending/Carousel.tsx'
---

<Section.Container id="trending-class">
  <div class="mx-10 flex items-center gap-5">
    <Section.Title class="leading-none">Trending live classes</Section.Title>
    <a id="all-trending-link" class=""> See all </a>
  </div>
  <Carousel client:load />
</Section.Container>
