---
import Section from '../blocks/Section.tsx'
import Carousel from './VideoOnDemand/Carousel.tsx'
---

<Section.Container id="vod">
  <div class="mx-10 flex items-center gap-5">
    <Section.Title class="leading-none">Video on demand</Section.Title>
    <a id="all-vod-link" class=""> See all </a>
  </div>
  <Carousel client:load />
</Section.Container>
