---
// Barebone layout to share common head between pages.
import cntl from 'cntl'
import { twMerge } from 'tailwind-merge'
// Inject Reflect Metadata API to SSR's globalThis
import 'reflect-metadata'
import '@yaireo/tagify/dist/tagify.css'
import 'loaders.css'
import '@Styles/global.css'
import '@Styles/tagger.styl'
import '@Styles/white.styl'
import 'loaders.css/src/animations/ball-pulse.scss'
const { title, class: cls, forceWhite } = Astro.props
---

<html lang="en" data-force-white={forceWhite}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true"
    />
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500;700;900&family=Inter:wght@100;300;400;500;600;700;900&family=Poppins:wght@300;400;500;600;700;900&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      charset="UTF-8"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
    />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
    /> -->
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="white"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="black"
    />
    <script type="module" hoist>
      // Inject Reflect Metadata API to browser's window
      import 'reflect-metadata'
    </script>
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.js"
      integrity="sha512-wKJflLtBLm17q2xfXgyi1zHcd5v61unuxlu5rr8KWo7aCYl/lBT3Tg+gthkVDVIY+NUFwylUW/3w5kmFao18Hg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script> videojs.options.autoSetup = false </script>
    <slot name="pre-main" />
    <main
      class={twMerge(
        cntl`
          flex flex-col 
          gap-12 lg:gap-24 
          pb-24
        `,
        cls
      )}
    >
      <slot />
    </main>
    <slot name="post-main" />
  </body>
</html>
