---
// Barebone layout to share common head between pages.
import cntl from 'cntl'
import { twMerge } from 'tailwind-merge'
import '@Styles/global.css'
const { title, class: cls, bodyClass } = Astro.props
---

<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="true"
    />
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Poppins:wght@400;700;900&family=Roboto+Mono&family=Roboto:wght@400;500;700&family=Sansita:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      charSet="UTF-8"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
    />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
    /> -->
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="white"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="black"
    />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body
    class={twMerge(
      'bg-black text-white font-body flex flex-col gap-12',
      bodyClass
    )}
  >
    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    <script> videojs.options.autoSetup = false </script>
    <slot name="pre-main" />
    <main
      class={twMerge(
        cntl`
          flex flex-col 
          gap-12 lg:gap-24 
          pb-24
        `,
        cls
      )}
    >
      <slot />
    </main>
    <slot name="post-main" />
  </body>
</html>
