---
import Base from '@Layouts/Base.astro'
import cntl from 'cntl'
import { map } from 'lodash-es'
const NAVIGATION = {
  Backend: {
    Documentation: '/backend/api/documentation',
  },
  Backoffice: {
    Index: '/portal/',
  },
  Landing: {
    Public: '/',
    Student: '/dev/landing/student',
    Instructor: '/dev/landing/instructor',
    Business: '/dev/landing/business',
  },
  'Single Page': {
    Sitemap: '/sitemap',
    Contact: '/contact',
    Privacy: '/privacy',
    'First Time Landing': '/first-time',
  },
  Cart: {
    Cart: '/cart',
    Checkout: '/cart/checkout',
  },
  Class: {
    'All Classes': '/class/all',
    Detail: '/class/detail',
    Filter: '/class/filter',
    'Filter, Not Found': '/class/filter-not-found',
  },
  Blog: {
    'All Blogs': '/blog/all',
    Detail: '/blog/detail',
    Filter: '/blog/filter',
    'Filter, Not Found': '/blog/filter-not-found',
  },
  Search: {
    Search: '/search',
    'Not Found': '/dev/search/not-found',
  },
  'Become an Instructor': {
    TOC: '/instructor',
    // Register: '/dev/instructor/register',
  },
  'Business': {
    TOC: '/business',
    // Register: '/dev/instructor/register',
  },
}
---

<Base title="Development Navigation" bodyClass={cntl`dark:bg-white dark:text-black font-mono`}>
  <div class="flex flex-col items-stretch p-10">
    {map(NAVIGATION, (v, i) => (
      <div class="flex flex-col items-stretch">
        <h1 class="text-4xl font-bold py-5 font-mono">{i}</h1>
        <ul>
          {map(v, (w, j) => (
            <li>
              <a
                href={w}
                class="text-xl text-blue-500 hover:text-red-500 font-mono"
                target="_blank"
                // @ts-ignore
                set:html={`${j} --> ${w}`}
              ></a>
            </li>
          ))}
        </ul>
      </div>
    ))}
  </div>
</Base>
